@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import url(https://fonts.googleapis.com/css?family=Finger+Paint);
@import url(https://fonts.googleapis.com/css?family=Crafty+Girls);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
body {
    background-color:#0089ff;
    color: white;
}
#back {
    position: fixed;
    top: Calc(50% - 20px);
    left: 10px;
    border-radius: 40px 40px; 
    width: 40px;
    height: 40px; 
    box-shadow: 0 0 1px 1px #FFF;
    line-height: 40px;
    text-align: center;
    font-size: 30px;
}
#licence{
	font-family: 'Raleway', sans-serif;
    font-size: 20px;
	text-decoration: none;
	text-align: center;
}
#menu {
    position: absolute;
    left: Calc(50% - 125px);
    width: 250px;
    padding-top: 100px;
    padding-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#menu-title {
    width: inherit;
    font-family: 'Finger Paint', cursive;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    padding-bottom: 10px;
}
#menu-subtitle {
    width: inherit;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
}
#menu-items {
    margin-top: 10px;
    padding-bottom: 10px;
}
.menu {
    display: inline-block;
    border-radius: 150px 150px; 
    width: 150px;
    height: 150px;  
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;   
    font-size: 30px;
	box-shadow: 0 0 1px 1px #FFF;
	line-height: 150px;
}
.menu:hover {
    opacity: 0.8;
}